<div class="container-fluid" style="background-image: url(../../../../assets/img/section.jpg);
 background-position: center; width: 100% !important; background-color: black;
 padding: 100px;">
  <div>
      <h1 class="text-white">{{movie.original_title}}</h1>
      
    </div>
    <br><br>
    <div class="text-white">
        <img src='{{imgpath + movie.backdrop_path}}' style="border-radius: 4px; float: left;" width="250px" height="400px"
        alt="movie image">
        <!-- <p class="text-dark">zzz</p> -->
    </div>
    <span style="float: right;">
   
      <!-- <video src="{{movie.homepage}}"></video> -->
      <video class="mt-5" width="550" height="350px" controls>
        <source src="{{movie.homepage}}" type="video/mp4">
        <source src="{{movie.homepage}}" type="video/ogg">
        Your browser does not support HTML video.
      </video>
        <!-- <img src="../../../../assets/img/cover4.jpg" alt=""> -->
    </span>
  <div class="text-white" style="margin-left: 260px;" >
    <p class="fs-3 mt-3 mb-3">
      <i class="fa fa-star me-2" style="color: deeppink;"></i>{{movie.vote_average}}
      <span
        style="border: solid 1px gray; border-radius: 4px;padding:5px; color: gray; margin: 10px; text-align: center;">
        {{movie.original_language}} </span>
    </p>
    <p class="fs-3">Genre : <span *ngFor="let genres of movie.genres">  {{genres.name }}, </span> </p>
    <p class="fs-3">Release year: {{movie.release_date|date}}</p>
    <p class="fs-3"> Running time: {{movie.runtime }} min</p>
    <p class="fs-3"> 
        Country:
        <span *ngFor="let item of movie.production_countries"> {{item.iso_3166_1 }},
        </span>
    </p>
    <p class="fs-3 text-break col-6">  {{movie.overview }} </p>

  </div>
  <!-- <div class=""> -->
  <!-- </div> -->
</div>
