* {
    box-sizing: border-box;
  }
.container{
    max-width: 1432px;
    
}

.home{
    background-image: url(../../../../assets/img/home__bg.jpg);
    background-position:unset;
    height: 700px;
    padding-left: 60px;
}
.home__title{
    
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    padding-right: 120px;
    font-size: 36px;
    margin-bottom: 10px;
}
.movie{
    /* position: absolute; */
    /* top: 227px; */
float: left;
margin-right: 25px;


}
.moviecont{
    /* display: grid;  
    grid-gap:250px;  
    grid-template-columns: repeat(2, 0px);
    grid-template-rows: repeat(2, 0px); */
}


.row--grid .col-6, .row--grid .col-12 {
    padding-left: 10px;
    padding-right: 10px;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
@media only screen and (max-width: 620px) {
    img {
    max-width:100%;
}
.movie{
    float: left;
    margin-right:3px;
    margin-left: 20px;
}
.moviecont{
    display: grid;  
    /* grid-gap:250px;   */
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
}
.home__title {
    padding: 0px;
    max-width: fit-content;
    font-size:medium;
    margin: 0px;
}
.home{
padding: 0px;
max-width: 100%;

/* font-size:xx-small; */
}
}