* {
    box-sizing: border-box;
  }
.container{
    max-width: 1432px;
    
}

.home{
    background-image: url(../../../../assets/img/section.jpg);
    background-position:center;
    height: 700px;
    padding-left: 90px;
}
.home__title{
    
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    padding-right: 120px;
    font-size: 36px;
    margin-bottom: 10px;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .card {
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 420px;
    /* margin:  auto; */
    /* background: #2a264f; */
    /* border: 5px solid #1a163f; */
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px #414044;
    /* float: left; */
    margin-right: 40px;
  }
  
  .card .img1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-image: url(../../../../assets/img/cover4.jpg); */
    background-size: 310px 440px;
    background-position: left top;
    transition: all 0.5s ease-in-out;
  }
  
  /* .card .img2 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background-image: url(../../../../assets/img/cover4.jpg);
    background-size: 310px 440px;
    background-position: left bottom;
    
    transition: all 0.5s ease-in-out;
  } */
  
  .card .title {
    height: 22%;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: #FFFC;
    padding: 15px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 -95px 28px -25px #000 inset;
  }
  
  .card .text {
    position: absolute;
    bottom: 80px;
    height: 120px;
    padding: 15px 10px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    transform: rotate(90deg);
    transform-origin: 0 100px;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .card .catagory {
    position: absolute;
    left: 10px;
    top: 140px;
    padding: 3px 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    background: #2a264f;
    color: #fff;
    border-radius: 5px;
    transform: translate(-160px, 0);
    transition: all 0.5s ease;
  }
  
  .card .views {
    position: absolute;
    left: 10px;
    top: 175px;
    padding: 3px 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    background: #8b2463;
    color: #fff;
    border-radius: 5px;
    transform: translate(-160px, 0);
    transition: all 0.5s ease 0.15s;
  }
  
  .card:hover .img1 {
    transform: rotate(10deg) scale(1.3) translate(20px, 0);
    transform-origin: 300px 300px;
    /* opacity: 0.5; */
    filter: blur(1px);

    /* filter: grayscale(30); */
  
  }
  .card:hover{
    /* opacity: 0.9; */
    background-color: rgba(0,0,0,.8) !important;
  }
  /* .card:hover .img2 { */
    /* transform: rotate(90deg) translate(0px, 150px);
    transform-origin: -20px 200px; */
  /* } */
  
  .card:hover .text {
    opacity: 0.8;
    transform: rotate(0deg);
  }
  
  .card:hover .views,
  .card:hover .catagory {
    transform: translate(0);
  }
@media only screen and (max-width: 620px) {
    /* img { */
    /* max-width:200%; */
/* } */
.movie{
    /* float: left; */
    margin-right:3px;
    margin-left: 20px;
}
.moviecont{
    display: grid;  
    /* grid-gap:250px;   */
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
}
.home__title {
    padding: 0px;
    max-width: fit-content;
    font-size:medium;
    margin: 0px;
}
.home{
padding: 0px;
max-width: 100%;

/* font-size:xx-small; */
}
}
/* section 2 */
/* @import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", sans-serif;
}

.section2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 65vh;
  background: #212121;
  padding-left: 90px;
}

.card2 {
  display: flex;
  position: relative;
  width: 200px;
  height: 350px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

/* .card2::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  transform: skewY(345deg);
  transition: 0.5s;
} */

.card2:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card2::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card2 .imgBox {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 20px; */
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}
*/
.card2 .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card2 .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  

}

.card2 .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
/* .cardtitle{
  
} */
.card2 .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  width: 170px;
  padding: 10px 30px;
  
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #fa4f9f;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card2:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}
