<div class="">
  <div class="home container">
    <!-- <img src="../../../../assets/img/home__bg.jpg" class="imgcontainer" alt=""> -->
    <div class="home__title ms-5 pt-5 pb-4">
      <p>
        <span class="fw-bold">NEW MOVIES </span>
        <span>ALL IN ONE PLACE</span>
      </p>
    </div>

    <div class="moviecont row--grid" >
    <span class="col-sm-6" >
    <div class="movie ms-5">
      <img src="../../../../assets/img/cover4.jpg" class="rounded "  alt="">
      <h4 class="text-white">aad</h4>
      <small>aaa</small>
      <br>
      <small> <i class="fa fa-star me-1" style="color: #ff55a5;"></i>7/10</small>
    </div>
</span>
    <span class="col-sm-6">
      <div class="movie ms-5 ">
        <img src="../../../../assets/img/cover4.jpg" class="rounded "  alt="">
        <h4 class="text-white">aad</h4>
        <small>aaa</small>
        <br>
        <small> <i class="fa fa-star me-1" style="color: #ff55a5;"></i>7/10</small>
      </div>
    </span>
</div>
  </div>
</div>
