<!-- Latest compiled and minified CSS -->
<!-- https://xstore.8theme.com/demos/hosting/-->



<!--Item slider text-->
<div class="all">


  <div class="home3">
    <div class="container ">
      <div class="row">
        <div class="col-md-6 text-white m-5">
          <p>
            <span class="fw-bold fs-1">NEW MOVIES </span>
            <span class="fs-3"> ALL IN ONE PLACE</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Item slider-->
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-10 col-sm-12 col-md-12">
          <div class="carousel carousel-showmanymoveone slide" id="itemslider">
            <div class="carousel-inner">

              <div class="item active">
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a routerLink="/view/{{first.id}}" href="#"><img src="{{imgpath+first.poster_path}}"
                      class="img-responsive center-block"></a>
                  <h4 class="text-center">{{first.original_title}}</h4>
                  <h5 class="text-center">
                    <i class="fa fa-star" style="color: deeppink;"></i>{{first.vote_average}}/10</h5>
                </div>
              </div>

              <div class="item" *ngFor="let movie of movies">
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a routerLink="/view/{{movie.id}}" href="#"><img src='{{imgpath + movie.poster_path}} '
                      class="img-responsive center-block"></a>
                  <h4 class="text-center">
                    {{(movie.original_title.length>35)? (movie.original_title | slice:0:35 )+'...' : movie.original_title}}
                  </h4>
                  <h5 class="text-center ">
                    <i class="fa fa-star" style="color: deeppink;"></i>{{movie.vote_average}}/10
                  </h5>
                </div>
              </div>



            </div>

            <div id="slider-control">
              <a class="left carousel-control" href="#itemslider" data-slide="prev"><img width="60%"
                  src="https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_402-512.png" alt="Left"
                  class="img-responsive"></a>
              <a class="right carousel-control" href="#itemslider" data-slide="next"><img
                  src="https://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" alt="Right"
                  class="img-responsive"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Item slider end-->
    <br /><br />
  </div>
  <section class="content dar bord">
    <div class="content__head head">
      <div class="">
        <div class="">
          <div class="col-12 trend" style="background-color: #28282E;">
            <!-- content title -->
            <h1 class="content__title mb-3 text-light fs-1">Trending</h1>
            <!-- end content title -->

            <!-- content tabs nav -->
            <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist"
              style="border-bottom-color: #28282E;">
              <li class="nav-item" role="presentation">
                <a class="nav-link active trendsize" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
                  aria-selected="true">NEW RELEASES</a>
              </li>

              <li class="nav-item" role="presentation">
                <a class="nav-link trendsize" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                  aria-selected="false">MOVIES</a>
              </li>

              <li class="nav-item" role="presentation">
                <a class="nav-link trendsize" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
                  aria-selected="false">TV SERIES</a>
              </li>


            </ul>
            <!-- end content tabs nav -->

            <!-- content mobile tabs nav -->
            <div class="content__mobile-tabs" id="content__mobile-tabs">
              <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span></span>
              </div>

              <div routerLink="" class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                <ul class="nav nav-tabs" role="tablist">
                  <li routerLink="" class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab"
                      aria-controls="tab-1" aria-selected="true">This Day</a></li>

                  <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab"
                      aria-controls="tab-2" aria-selected="false">MOVIES</a></li>

                  <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab"
                      aria-controls="tab-3" aria-selected="false">TV SERIES</a></li>

                </ul>
              </div>
            </div>
            <!-- end content mobile tabs nav -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- content tabs -->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
          <div class="row--grid">
            <!-- card -->
            <div class="mb-3">
        
              <div class="movie_card" id="bright" *ngFor="let daytrend of trenddingmovies">
                <div class="info_section">
                  <div class="movie_header">
                    <img class="locandina" src="{{imgpath + daytrend.poster_path}}"/>
                    <h1>
                      <!-- {{(daytrend.original_title.length >15)? (daytrend.original_title | slice:0:15 )+'...' : daytrend.original_title}} -->

                      {{daytrend.original_title }}
                      {{daytrend.original_name }}
                    </h1>
                    <h4>{{daytrend.release_date | date}}</h4>
                    <span class="minutes" style="border: solid .5px  rgb(146, 138, 123) !important; text-align: center;">
                      {{daytrend.original_language}}</span>
                    <p class="type">{{daytrend.media_type}}</p>
                  </div>
                  <div class="movie_desc">
                    <p class="text">
                     {{daytrend.overview}}
                    </p>
                  </div>
                  <div class="movie_social">
                    <ul>
                      <li>
                        <h5 class="text-center ">
                          <i class="fa fa-star" style="color: deeppink; font-size: small;"></i>
                          {{daytrend.vote_average}}
                        </h5>   
                       </li>
                      <li style="color: white;">
                        <fa-icon [icon]="faFire" style="color: deeppink; font-size: small;"></fa-icon>
                         {{daytrend.vote_count}}   
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="blur_back bright_back" style="background-image: url({{imgpath + daytrend.backdrop_path}});">
                  
                </div>
              </div>
              
             
            </div>

          </div>
        </div>
<!-- end part 1 -->

        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
          <div class="row row--grid">
            <!-- card -->
            <div class="col-12">
              <hr>
              <div class="profile-card-6" *ngFor="let movietrend of trenddingmoviesweek">
                <img routerLink="/view/{{movietrend.id}}" src="{{imgpath + movietrend.poster_path}}"
                  class="img img-responsive">
                <div class="profile-name">{{movietrend.original_title}}
                </div>
                <div class="profile-position">{{movietrend.release_date}}</div>
                <div class="profile-overview">
                  <div class="profile-overview">
                    <div class="text-center">
                      <div class="col-xs-4">
                        <h3>{{movietrend.vote_average}}</h3>
                        <p >Rank</p>
                      </div>
                      <div class="col-xs-4">
                        <h3>{{movietrend.vote_count}}</h3>
                        <p>Matches</p>
                      </div>
                      <div class="col-xs-4">
                        <h3>{{movietrend.popularity}}</h3>
                        <p >popularity</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


      
            </div>
            <!-- end card -->

          </div>
        </div>
<!-- end part 2 -->
        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
          <div class="row row--grid">
            <!-- card -->
            <div class="col-12">
              <hr>
              <div class="profile-card-6">
                <img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg"
                  class="img img-responsive">
                <div class="profile-name">JOHN
                  <br>DOE</div>
                <div class="profile-position">Lorem Ipsum Donor</div>
                <div class="profile-overview">
                  <div class="profile-overview">
                    <div class="text-center">
                      <div class="col-xs-4">
                        <h3>1</h3>
                        <p>Rank</p>
                      </div>
                      <div class="col-xs-4">
                        <h3>50</h3>
                        <p>Matches</p>
                      </div>
                      <div class="col-xs-4">
                        <h3>35</h3>
                        <p>Goals</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


      
            </div>
            <!-- end part 3 -->

          </div>
        </div>

      </div>
      <!-- end content tabs -->
    </div>
  </section>
</div>
