<!-- Latest compiled and minified CSS -->
<!-- https://xstore.8theme.com/demos/hosting/-->



<!--Item slider text-->
<div class="all">


  <div class="home3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-white m-5">
          <div style="float: right;">
            <a class="btn cursol">

              <fa-icon class="left" href="#itemslider" data-slide="prev" 
              [icon]="faArrowCircleLeft" style="color: rgb(218, 206, 206); font-size: x-large;"></fa-icon>
            </a>
           <a class="btn cursol">
             <fa-icon class="right" href="#itemslider" data-slide="next" 
             [icon]="faArrowCircleRight" style="color: rgb(218, 206, 206); font-size: x-large;"></fa-icon>
           </a>
          </div>
          <p>
            <span class="fw-bold fs-1">NEW MOVIES </span>
            <span class="fs-3"> ALL IN ONE PLACE</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Item slider-->
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-10 col-sm-12 col-md-12">
          <div class="carousel carousel-showmanymoveone slide" id="itemslider">
            <div class="carousel-inner">

              <div class="item active">
                <div class="col-xs-3 col-sm-6 col-md-2">
                  <a routerLink="/view/{{first.id}}" href="#"><img src="{{imgpath+first.poster_path}}"
                      class="img-responsive center-block"></a>
                  <h4 class="text-center">{{first.original_title}}</h4>
                  <h5 class="text-center">
                    <i class="fa fa-star" style="color: deeppink;"></i>{{first.vote_average}}/10</h5>
                </div>
              </div>

              <div class="item" *ngFor="let movie of movies">
                <div class="col-xs-3 col-sm-3 col-md-2">
                  <a routerLink="/view/{{movie.id}}" href="#"><img src='{{imgpath + movie.poster_path}} '
                      class="img-responsive center-block"></a>
                  <h4 class="text-center">
                    {{(movie.original_title.length>35)? (movie.original_title | slice:0:35 )+'...' : movie.original_title}}
                  </h4>
                  <h5 class="text-center ">
                    <i class="fa fa-star" style="color: deeppink;"></i>{{movie.vote_average}}/10
                  </h5>
                </div>
              </div>
              
              
              
            </div>

            <!-- <div id="slider-control">
             
              <a class="left carousel-control" href="#itemslider" data-slide="prev">
                <img width="60%" src="https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_402-512.png"
                alt="Left" class="img-responsive"></a>
                <a class="right carousel-control" href="#itemslider" data-slide="next">
                  <img src="https://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" 
                  alt="Right" class="img-responsive"></a>
                </div> -->
              </div>
            </div>
          </div>
          <!-- top rated -->
      <!-- <div class="col-md-6 text-white m-5">
        <div style="float: right;">
          <a class="btn cursol">
      
            <fa-icon class="left" href="#itemslider" data-slide="prev" 
            [icon]="faArrowCircleLeft" style="color: rgb(218, 206, 206); font-size: x-large;"></fa-icon>
          </a>
         <a class="btn cursol">
           <fa-icon class="right" href="#itemslider" data-slide="next" 
           [icon]="faArrowCircleRight" style="color: rgb(218, 206, 206); font-size: x-large;"></fa-icon>
         </a>
        </div>
        <p>
          <span class="fw-bold fs-1">Top MOVIES </span>
          <span class="fs-3"> ALL IN ONE PLACE</span>
        </p>
      </div> -->
    </div>
    <!-- Item slider end-->
    <br/><br />
  </div>

<section class="content dar bord">
  <div class="content__head head">
    <div class="">
      <div class="">
        <div class="col-12 trend" style="background-color: #28282E; border-top: solid 4px deeppink;">
          <!-- content title -->
          <h1 class="content__title mb-3 text-light fs-1">Trending</h1>
          <!-- end content title -->

          <!-- content tabs nav -->
          <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist"
           >
            <li class="nav-item" role="presentation">
              <a class="nav-link active trendsize" data-toggle="tab" href="#tab-1" 
              role="tab" aria-controls="tab-1"
                aria-selected="true">This Day</a>
            </li>

            <li class="nav-item" role="presentation">
              <a class="nav-link trendsize" data-toggle="tab" href="#tab-2" 
              role="tab" aria-controls="tab-2"
                aria-selected="false">MOVIES</a>
            </li>

            <li class="nav-item" role="presentation">
              <a class="nav-link trendsize" data-toggle="tab" href="#tab-3" 
              role="tab" aria-controls="tab-3"
                aria-selected="false">TV SERIES</a>
            </li>


          </ul>
          <!-- end content tabs nav -->

          <!-- content mobile tabs nav -->
          <div class="content__mobile-tabs" id="content__mobile-tabs">
            <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span></span>
            </div>

            <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab"
                    aria-controls="tab-1" aria-selected="true">This Day</a></li>

                <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab"
                    aria-controls="tab-2" aria-selected="false">MOVIES</a></li>

                <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab"
                    aria-controls="tab-3" aria-selected="false">TV SERIES</a></li>

              </ul>
            </div>
          </div>
          <!-- end content mobile tabs nav -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- content tabs -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
        <div class="row row--grid">
          <!-- card -->
          <div class="mb-3">
      
            <div class="movie_card" id="bright" *ngFor="let daytrend of trenddingmovies">
              <div class="info_section">
                <div class="movie_header">
                  <img class="locandina" src="{{imgpath + daytrend.poster_path}}"/>
                  <h1 *ngIf="daytrend.original_title">
                    <!-- {{(daytrend.original_title.length >15)? (daytrend.original_title | slice:0:15 )+'...' : daytrend.original_title}} -->

                    {{daytrend.original_title | maxlength:[15]}}
                  </h1>
                  <h1>
                    {{daytrend.original_name }}

                  </h1>
                  <h4>{{daytrend.release_date | date}}</h4>
                  <!-- <span class="minutes" style="border: solid .5px  rgb(146, 138, 123) !important; text-align: center;">
                    {{daytrend.original_language}}</span> -->
                      <i class="fa fa-star" style="color: deeppink; font-size: small;">
                        <span class="text-white">

                          {{daytrend.vote_average}}
                        </span>
                      </i>
                </div>
                <div class="movie_desc">
                  <p class="text">
                   {{daytrend.overview | maxlength:[200]}}
                  </p>
                </div>
                <div class="movie_social">
                  <ul>
                    <li>
                  <p class="type" style="color: deeppink;">{{daytrend.media_type}}</p>
                      
                     </li>
                    <li style="color: white;">
                      <fa-icon [icon]="faFire" style="color: deeppink; font-size: small;"></fa-icon>
                       {{daytrend.vote_count}}   
                    </li>
                  </ul>
                </div>
              </div>
              <div class="blur_back bright_back" style="background-image: url({{imgpath+daytrend.backdrop_path}});">
                
              </div>
            </div>
            
           
          </div>

        </div>
      </div>
<!-- end part 1 -->

      <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
        <div class="row row--grid">
          <!-- card -->
          <div class="col-12">
            <hr>
            <div class="profile-card-6" *ngFor="let movietrend of trenddingmoviesweek">
              <img routerLink="/view/{{movietrend.id}}" src="{{imgpath + movietrend.poster_path}}"
                class="img img-responsive">
              <div class="profile-name" >{{movietrend.original_title}}
                <br> <p class="fs-6 " >
                  {{movietrend.release_date | date}}
                </p>
              </div>
              <!-- <div class="profile-position">{{movietrend.release_date}}</div> -->
              <div class="profile-overview">
                <div class="profile-overview">
                  <div class="text-center">
                    <div class="col-xs-4">
                      <h3>{{movietrend.vote_average}}</h3>
                      <p >Rank</p>
                    </div>
                    <div class="col-xs-4">
                      <h3>{{movietrend.vote_count}}</h3>
                      <p>Matches</p>
                    </div>
                    <div class="col-xs-4">
                      <h3>{{movietrend.popularity}}</h3>
                      <p >popularity</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


    
          </div>
          <!-- end card -->

        </div>
      </div>
<!-- end part 2 -->
      <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
        <div class="row row--grid">
          <!-- card -->
          <div class="col-12">
            <hr>
            <div class="profile-card-6" *ngFor="let tv of trenddingtvweek">
              <img routerLink="/view/{{tv.id}}" src="{{imgpath + tv.poster_path}}"
                class="img img-responsive">
              <div class="profile-name">{{tv.original_name}}
                <br> <p class="fs-6 " >
                  {{tv.first_air_date | date}}
                </p>
                  
              </div>
              <!-- <div class="profile-position"></div> -->
              <div class="profile-overview">
                <div class="profile-overview">
                  <div class="text-center">
                    <div class="col-xs-4">
                      <h3>{{tv.vote_average}}</h3>
                      <p >Rank</p>
                    </div>
                    <div class="col-xs-4">
                      <h3>{{tv.vote_count}}</h3>
                      <p>Matches</p>
                    </div>
                    <div class="col-xs-4">
                      <h3>{{tv.popularity}}</h3>
                      <p >popularity</p>
                    </div>
                  </div>
                </div>>
              </div>
            </div>


    
          </div>
          <!-- end part 3 -->

        </div>
      </div>

    </div>
    <!-- end content tabs -->
  </div>
</section>
</div>
