<!-- Latest compiled and minified CSS -->
<!-- https://xstore.8theme.com/demos/hosting/-->



<!--Item slider text-->

<div class="home3">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 text-white m-5">
        <p>
          <span class="fw-bold fs-1">NEW MOVIES </span>
          <span class="fs-3"> ALL IN ONE PLACE</span>
        </p>
      </div>
    </div>
  </div>

  <!-- Item slider-->
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="carousel carousel-showmanymoveone slide" id="itemslider">
          <div class="carousel-inner">

            <div class="item active">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a routerLink="/view/{{first.id}}" href="#"><img src="{{imgpath+first.poster_path}}" class="img-responsive center-block"></a>
                <h4 class="text-center">{{first.original_title}}</h4>
                <h5 class="text-center">
                  <i class="fa fa-star" style="color: deeppink;"></i>{{first.vote_average}}/10</h5>
              </div>
            </div>

            <div class="item" *ngFor="let movie of movies">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a routerLink="/view/{{movie.id}}" href="#"><img src='{{imgpath + movie.poster_path}} '
                    class="img-responsive center-block"></a>
                <h4 class="text-center">
                  {{(movie.original_title.length>35)? (movie.original_title | slice:0:35 )+'...' : movie.original_title}}
                </h4>
                <h5 class="text-center ">
                  <i class="fa fa-star" style="color: deeppink;"></i>{{movie.vote_average}}/10
                </h5>
              </div>
            </div>



          </div>

          <div id="slider-control">
            <a class="left carousel-control" href="#itemslider" data-slide="prev"><img width="60%"
                src="https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_402-512.png" alt="Left"
                class="img-responsive"></a>
            <a class="right carousel-control" href="#itemslider" data-slide="next"><img
                src="https://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" alt="Right"
                class="img-responsive"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Item slider end-->
  <br /><br />
</div>


